*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    background: blue;
    height: 50px;
    padding: 15px;
}

#logo{
    width: 25px;
    position: absolute;
    left: 15px;
    top: 10px;
}

header ul li{
    display: inline-block;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    color: black;
}

#categoriesContent{
    position: absolute;
    top: 50px;
    left: 50px;
    background: rgb(80, 211, 255);
    width: 200px;
    padding: 1em;
    min-height: 100px;
    visibility: hidden;
}

#categoriesContent.active{
    visibility: visible;
}

.categoryTitle{
    cursor: pointer;
    margin-bottom: 5px;
}

#miniCartButton{
    position: absolute;
    right: 10px;
    top: 15px;
}

#miniCartContent{
    position: absolute;
    top: 0;
    right: 0;
    background: greenyellow;
    width: 400px;
    padding: 1em;
    min-height: 200px;
    transform: translateY(-200vh);
    transition: transform 400ms ease-in-out;
}

#miniCartContent.active{
    transform: translateY(0);
}

#miniCartClose{
    position: absolute;
    right: 10px;
    top: 10px;
}

#miniCartClose img{
    height: 20px;
}

/* MAIN */
main{
    min-height: 200px;
    background: white;
}

#productContainer{
    padding: 20px 0;
    text-align: center;
    display: flex;
    flex-flow: column wrap;
    gap: 1em;
    flex-direction:row;
    justify-content: center;
}

#productContainer .item{
    flex-basis: 30%;
    border: 1px solid black;
    width: 200px;
}

#productContainer .item img{
    width: 200px;
}

#productContainer .item h3{
    padding: .5em;
}

#productContainer .item p{
    margin: 15px 0;
}

#productContainer .item .price{
    margin: 15px 0;
    font-size: 1.25em;
    font-weight: bold;
}

/* FOOTER */
footer{
    background: blue;
    text-align: center;
    height: 50px;
    padding: 15px;
}

footer p{
    font-size: 16px;
}