@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --main-color: blue;
    --secondary-color: rgb(106, 106, 255);
    --text-color: #171427;
    --bg-color: #fff;
}
img{
    width: 100%;
}
body{
    color: var(--text-color);
}
.container{
    max-width: 1068px;
    margin: auto;
    width: 100%;
}

@media screen and (max-width:960px){
}

/* HEADER */
header{
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--bg-color);
    color: var(--main-color);
    width: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
    z-index: 100;
}

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    width: 25px;
    margin-left: 30px;
    margin-top: 5px;
}

header ul li{
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
    display: inline-block;
}

#categories{
    font-size: 1.1rem;
    color: var(--text-color);
    font-weight: 400;
    margin-left: 20px;
    position: relative;
    bottom: 4px;
}

#categoriesContent{
    background-color: var(--bg-color);
    position: absolute;
    top: 77px;
    left: 170px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.14);
    width: 200px;
    padding: 5px 10px;
    min-height: 100px;
    visibility: hidden;
    color: var(--text-color);
    font-weight: 400;
    display: inline-block;
}

#categoriesContent.active{
    visibility: visible;
    font-size: 0.9rem;
}

.categoryTitle{
    cursor: pointer;
}

#miniCartButton img{
    position: absolute;
    right: 50px;
    top: 22px;
    cursor: pointer;
}

#miniCartButton span{
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
    position: absolute;
    right: 35px;
    top: 30px;
}


/* Mini-cart content*/

#miniCartContent{
    position: fixed;
    top: 0;
    right: 0;
    width: 360px;
    min-height: 100vh;
    padding: 20px;
    background: var(--bg-color);
    box-shadow: -2px 0 4px rgba(0, 0, 0, 0.14);
    z-index: 100;

    justify-content: center;
    background-color: #ffffff;
    transform: translateY(-100vh);
    transition: transform 400ms ease-in-out;
}

#miniCartContent h2{
    font-size: 20px;
    color: #2F3841;
    padding: 10px;
}

#miniCartContent.active{
    transform: translateY(0);
}

#miniCartClose{
    position: absolute;
    right: 25px;
    top: 31px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#miniCartClose img{
    height: 10px;
}

/*everything in cart*/

.increase-button, .decrease-button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #202020;
    cursor: pointer;
}
.count{
    font-size: 20px;
    font-family: ‘Open Sans’;
    font-weight: 900;
    color: #202020;
}

/* MAIN */
main{
    padding: 5rem 0 3rem;
    z-index: 0;
}

#productContainer{
    margin-top: 1.5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,auto));
    gap: 1.5rem;
}

.item{
    position: relative;
    cursor: pointer;
    height: 350px;
}

.item:hover{
    padding: 10px;
    border: 1px solid var(--text-color);
    transition: 0.4s;
}

.productImg{
    width: 100%;
    height: 150px;
    margin-bottom: 0.5rem;
    object-fit: contain;
}

.productTitle{
    font-size: 1.1rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.productDesc{
    font-size: 1rem;
    font-weight: 400px;
    margin-bottom: 0.5rem;
}

.price{
    font-weight: 600;
}

.addToCartBtn{
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--text-color);
    color: var(--bg-color);
    padding: 10px;
    cursor: pointer;
}

.addToCartBtn:hover{
    background-color: #423a67;
}

/* FOOTER */
footer{
    background: blue;
    text-align: center;
    height: 50px;
    padding: 15px;
}

footer p{
    font-size: 16px;
}